@import "nouislider.css";

body {
    padding: 2rem;
}

#slider {
    margin-bottom: 2rem;
}

.resultsTable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}