@import "nouislider.css";

body {
    background: #000;
    color: #fff;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.uiContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #0E0E0E;
    border:1px solid #202020;
    padding: 1rem;
}

.controls {
    width: 100%;
}

.titleImage {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    height: 48px;
}

.inputs {
    display: flex;
}

.inputs div {
    flex: 0 0 auto;
}

.inputs .rarityControl {
    flex: 1 0 auto;
}

.inputs .teamControl {
    flex: 1 0 auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.inputs .positionControl {
    flex: 0 1 auto;
}

.inputs select {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #353535;
    border-color: #313131;
    color: #fff;
    min-height: 28px;
    border-radius: 2px;
}

.inputs label {
    color: #A2EA87;
    font-size: 0.85rem;
    display: block;
    padding-top: 0.25rem;
    margin-bottom: 0.5rem;
}

#slider {
    margin: 2rem 0;
    width: 100%;
    padding: 0 16px;

}
.noUi-target {
    background-color: #383838;
    border:1px solid #040404;
    box-shadow: none;
}

.noUi-connect {
    background-color: #20E4FE;
}

.noUi-tooltip {
    font-size: 0.65rem;
}

.results {
    flex: 0 0 auto;
    width: 100%;
}

.resultsTable {
    background: #242424;
    border: 1px solid #313131;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.type, .value {
    padding: 8px 0.25rem;
    border-bottom: 1px solid #000000;
    font-size: 0.85rem;
}

.type {
    padding-left: 1rem;
    min-width: 220px;
}


.value {
    padding-left: 36px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 24px;
}

.value.coins {
    background-image: url("../images/coin.png");
}
.value.trophies {
    background-image: url("../images/trophy.png");
}
.value.tp {
    background-image: url("../images/tp.png");
}
.value.helmetsTier1.NFC {
    background-image: url("../images/helmetNfc.png");
}
.value.helmetsTier1.AFC {
    background-image: url("../images/helmetAfc.png");
}
.value.helmetsTier2.NFC {
    background-image: url("../images/helmetNfcT2.png");
}
.value.helmetsTier2.AFC {
    background-image: url("../images/helmetAfcT2.png");
}
.value.positionsTier1.passOffense {
    background-image: url("../images/patchPassOff.png");
}
.value.positionsTier1.passDefense {
    background-image: url("../images/patchPassDef.png");
}
.value.positionsTier1.rushOffense {
    background-image: url("../images/patchRushOff.png");
}
.value.positionsTier1.rushDefense {
    background-image: url("../images/patchRushDef.png");
}
.value.positionsTier2.passOffense {
    background-image: url("../images/patchPassOffT2.png");
}
.value.positionsTier2.passDefense {
    background-image: url("../images/patchPassDefT2.png");
}
.value.positionsTier2.rushOffense {
    background-image: url("../images/patchRushOffT2.png");
}
.value.positionsTier2.rushDefense {
    background-image: url("../images/patchRushDefT2.png");
}
.value.flags.AFC {
    background-image: url("../images/flagAfc.png");
}
.value.flags.NFC {
    background-image: url("../images/flagNFC.png");
}